---

---

<section class="banner_container py-6">
  <div class="container">
    <div
      class="banner_img_container aspect-video h-[40vh] lg:h-[80vh] w-full overflow-hidden rounded-xl"
    >
      <img
        class="w-full h-full object-cover object-left-top"
        src="../src/assets/images/banner_img.jpg"
        alt=""
      />
    </div>
    <div class="headline_inner pt-6">
      <h1 class="font-black text-6xl leading-none text-teal-500 uppercase">
        Sense List
      </h1>
    </div>
    <div class="intro_inner pt-2">
      <p class="leading-8 text-2xl capitalizes">
        Welcome to my corner of internet, where i try to talk about the things i
        like, mostly it is anime and specifically Boruto. But you will find more
        stuff here and there so do lookout for something that might interest you
      </p>
    </div>
  </div>
</section>
