---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<section class="blog_container py-4">
  <h2 class="text-6xl font-bold py-4">My Blogs</h2>
  <ul class="grid lg:grid-cols-2 gap-x-4 gap-y-12">
    {
      posts.map((post) => (
        <li class="py-5">
          <a
            class="aspect-video overflow-hidden w-full "
            href={`/posts/${post.slug}`}
          >
            <img
              class="w-full h-full object-cover rounded-xl aspect-video lg:h-[30vh] xl:h-[40vh] "
              src={`../src/assets/images/posts/${post.slug}/blogImage.jpg`}
              alt=""
            />
            <h3 class="text-white text-4xl pt-2 font-extrabold">
              {post.data.title}
            </h3>
          </a>
        </li>
      ))
    }
  </ul>
</section>
