---

---

<footer class="container mx-auto text-center py-9">
  <p>
    Check out My Instagram: <a
      class="text-blue-500"
      href="https://www.instagram.com/sense.list">@sense.list</a
    >
  </p>
</footer>
